/* navbar design */
.navbar {
    padding: 10px 0;
    background-color: white !important;
}

.nav-button {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.nav-button:hover {
    background-color: #F9FAFB !important;
}

.nav-logo {
    font-family: "Lucida Handwriting";
    font-size: 40px;
    font-weight: bold;
    color: #568A35;
    /*�ΰ� ����*/
    height: 50px;
    width: 100px;
}

.nav-logo:hover {
    text-decoration: none;
    color: #1A1F27;
}
/* footer design */
.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px 0;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d
}

.copyright-text {
    margin: 0
}

.site-footer .site-footer {
    text-align: center
}


html{
    scroll-behavior: smooth;
}
#content{
    margin-top: 35vh;
    display: block;
    position:relative;
}
.bimg{
    display: inline-block;
    float:left;
}

img {
    width: 300px;
    height: 300px;
    top:5px;
    left: 4vw;
    -webkit-transform: translateZ(0);
}

.bfood{
    position: relative;
}

.about{
    font-family:Lucida Fax;
}
#Ingre{
    margin-top:80px;
}
h3{
    margin: 30px 0;
    font-weight: bold;
    display: inline-block;
}
#serve{
    display: inline-block;
    width: 100px;
}
label{
    font-size: medium;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.snav{
    display: block;
    margin:10px;
}
.snav ul {
    z-index: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top:120px;
    right: 18vw;
}

.snav li {
    display: block;
    float: left;
}

.snav li a {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    float:right;
    color: black;
}
.snav li a:hover{
    text-decoration-line: none;
    color: slategray;
}
.snav li a:visited{
    text-decoration-line: none;
    color: black;
}
.snav li a:active{
    text-decoration-line: none;
    color: slategray;
}
.snav li a:link{
    text-decoration-line: none;
    color: black;
}