<!DOCTYPE html>
<html>
<head>
  <title>SOURCE</title>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/product.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../static/js/product.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9F99RNZ84F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-9F99RNZ84F');
    </script>
  <style>
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand-md page-scroll nav-logo" href="../templates/main.html">GREENZ</a>
          </div>

          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a class="page-scroll nav-button" href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="../templates/main.html">Home</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="../templates/freshfood.html">Product</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="../templates/Recipe_List.html">Recipe</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="../templates/Restaurant_map.html">Restaurant</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="../templates/cart.html">cart</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container" id="one_line">
    <div class="row img">
    <div class="col-sm-6 img">
      <img src="../static/src/olive.jpg" class="img-rectangle img-responsive">
    </div>
    <div class="col-sm-6 name">
      <h3 id="product">extra virgin olive oil</h3>
      <p class="explain1">Extra Virgin Olive Oil from the Italian Traditional Oil Brand</p>
      <h3 class="price" id="product1">9900</h3><p class="won"> won</p>
      <hr>
      <p class="explain2">Sales unit &nbsp; &nbsp; 1</p>
      <p class="explain2">Weight/capacity &nbsp; &nbsp; 1</p>
      <p class="explain2">origin &nbsp; &nbsp;  Domestic</p>
      <p class="explain2">Packaging type &nbsp; &nbsp; Refrigerated / Styrofoam</p>
      <hr>

      <form class="form-inline">
      <div class="form-group">
      <label class="number">quantity purchased</label>
      <input type="number" class="form-control" value="1" min="0" id="number" onclick="allPrice();"><br>
      </div>
      </form>
      <hr>
      <div class="all_price">
      <p class="explain">total amount of goods</p>
      <h3 id="private">9900</h3>
      </div>
      <div class="bc">
        <input type="submit" id="co" class="btn btn-default cart" onclick="Carting();" value="shopping cart">
        <input type="submit" id="co1" class="btn btn-default buy" onClick="location.href='../templates/cart.html'" value="go shopping cart">
    </div>
    </div>

  </div>



  </div>
  <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h6>(Inc)Oho</h6>
                    <p class="text-justify">Business registration number: 120-00-12345 <br>
                    hosting services: Oho Corporation | Online Marketing Business Report Number: 1234-cbnu-56789 <br>
                    28644 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do (S4-1, College of electrical and computer engineering BID.3) <br>
                    Customer Service: 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do (S4-1, College of electrical and computer engineering BID.3)</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
