<!DOCTYPE html>
<html>
<head>
  <title>SOURCE</title>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/product_list.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&display=swap" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src="../static/js/jquery.cycle2.min.js"></script>
  <script src="../static/js/product_list.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9F99RNZ84F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-9F99RNZ84F');
    </script>
  <style>
  </style>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand-md page-scroll nav-logo" href="../templates/main.html">GREENZ</a>
          </div>

          <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                      <a class="page-scroll nav-button" href="#page-top"></a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="../templates/main.html">Home</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="../templates/freshfood.html">Product</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="../templates/Recipe_List.html">Recipe</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="../templates/Restaurant_map.html">Restaurant</a>
                  </li>
                  <li>
                      <a class="page-scroll nav-button" href="../templates/cart.html">cart</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container cycle-slideshow" id="one" data-cycle-fx="scrollHorz"
    data-cycle-pause-on-hover="true" data-cycle-speed="500" data-cycle-timeout="2300">
        <img src="../static/src/banner_3.jpg">
        <img src="../static/src/banner_2.jpg">
        <img src="../static/src/banner_1.jpg">
  </div>

  <div class="container text-center">
    <div class="row">
      <div class="col-sm-3" id="navbar">
      <ul>
      <li>ALL PRODUCTS</li>
      <hr>
      <li><a href="freshfood.html">FRESH FOOD</a></li>
      <li><a href="source.html">SOURCE</a></li>
    </ul>
    </div>

<div class="col-sm-9">
  <div id="one_line">
    <h3 id="all">SOURCE</h3>
    <div class="row">
    <div class="col-sm-3 img1">
    <a href="../templates/mayo.html"><img src="../static/src/mayo.jpg" class="img-rectangle img-responsive"></a>
    <div class="pro1">
      <a href="">
        <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
    </div>
    <div class="intro">
      <p class="pro_name">Vegan mayo</p>
      <p class="price">4,980</p><p class="won">won</p>
    </div>
    </div>


    <div class="col-sm-3 img1">
    <a href="../templates/olive.html"><img src="../static/src/olive.jpg" class="img-rectangle img-responsive"></a>
    <div class="pro1">
      <a href="">
        <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
    </div>
    <div class="intro">
      <p class="pro_name">olive oil</p>
      <p class="price">9,900</p><p class="won">won</p>
    </div>
    </div>

    <div class="col-sm-3 img1">
    <a href="../templates/vinegar.html"><img src="../static/src/vinegar.jpg" class="img-rectangle img-responsive"></a>
    <div class="pro1">
      <a href="">
        <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
    </div>
    <div class="intro">
      <p class="pro_name">apple vinegar</p>
      <p class="price">6,390</p><p class="won">won</p>
    </div>
    </div>

    <div class="col-sm-3 img1">
    <a href="../templates/pepper.html"><img src="../static/src/pepper.jpg" class="img-rectangle img-responsive"></a>
    <div class="pro1">
      <a href="">
        <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
    </div>
    <div class="intro">
      <p class="pro_name">Pepper</p>
      <p class="price">5,900</p><p class="won">won</p>
    </div>
    </div>
  </div>
</div>

  <div class="two_line">
    <div class="row">
        <div class="col-sm-3 img1">
        <a href="../templates/ketchup.html"><img src="../static/src/ketchup.jpg" class="img-rectangle img-responsive"></a>
        <div class="pro1">
          <a href="">
            <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
        </div>
        <div class="intro">
          <p class="pro_name">Ketchup</p>
          <p class="price">4660</p><p class="won">won</p>
        </div>
        </div>

        <div class="col-sm-3 img1">
        <a href="../templates/sugar.html"><img src="../static/src/sugar.jpg" class="img-rectangle img-responsive"></a>
        <div class="pro1">
          <a href="">
            <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
        </div>
        <div class="intro">
          <p class="pro_name">Stevia</p>
          <p class="price">3960</p><p class="won">won</p>
        </div>
        </div>

        <div class="col-sm-3 img1">
        <a href="../templates/gochu.html"><img src="../static/src/gochu.jpg" class="img-rectangle img-responsive"></a>
        <div class="pro1">
          <a href="">
            <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
        </div>
        <div class="intro">
          <p class="pro_name">red pepper paste</p>
          <p class="price">7,650</p><p class="won">won</p>
        </div>
        </div>

        <div class="col-sm-3 img1">
        <a href="../templates/chamgi.html"><img src="../static/src/chamgi.jpg" class="img-rectangle img-responsive"></a>
        <div class="pro1">
          <a href="">
            <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
        </div>
        <div class="intro">
          <p class="pro_name">Sesame oil</p>
          <p class="price">25,800</p><p class="won">won</p>
        </div>
        </div>
      </div>
    </div>

    <div class="two_line">
      <div class="row">
          <div class="col-sm-3 img1">
          <a href="../templates/salt.html"><img src="../static/src/salt.jpg" class="img-rectangle img-responsive"></a>
          <div class="pro1">
            <a href="">
              <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
          </div>
          <div class="intro">
            <p class="pro_name">salt grinder</p>
            <p class="price">5,394</p><p class="won">won</p>
          </div>
          </div>

          <div class="col-sm-3 img1">
          <a href="../templates/garoo.html"><img src="../static/src/garoo.jpg" class="img-rectangle img-responsive"></a>
          <div class="pro1">
            <a href="">
              <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
          </div>
          <div class="intro">
            <p class="pro_name">Red pepper powder</p>
            <p class="price">7,760</p><p class="won">won</p>
          </div>
          </div>

          <div class="col-sm-3 img1">
          <a href="../templates/hot.html"><img src="../static/src/hot.jpg" class="img-rectangle img-responsive"></a>
          <div class="pro1">
            <a href="">
              <span class="glyphicon glyphicon-shopping-cart cart"></span></a>
          </div>
          <div class="intro">
            <p class="pro_name">Hot sauce</p>
            <p class="price">5,480</p><p class="won">won</p>
          </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
  <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h6>(Inc)Oho</h6>
                    <p class="text-justify">Business registration number: 120-00-12345 <br>
                    hosting services: Oho Corporation | Online Marketing Business Report Number: 1234-cbnu-56789 <br>
                    28644 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do (S4-1, College of electrical and computer engineering BID.3) <br>
                    Customer Service: 1, Chungdae-ro, Seowon-gu, Cheongju-si, Chungcheongbuk-do (S4-1, College of electrical and computer engineering BID.3)</p>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
